<div class="main posts-index">
  <div class="container">
  <% @items.each do |item| %>
    <div class="posts-index-item">
      <%= link_to(item.content, "/items/#{item.id}" )%>
    </div>
  <% end %>
  </div>
</div>