<div class="main posts-main">
  <ul class="posts-index">
  <% @items.each do |item| %>
    <li class="posts-index-item">
      <div>
        <img src="<%= "/item_images/#{item.image_name}" %>">
      </div>
      <div>
        <%= link_to(item.content, "/items/#{item.id}" )%>
      </div>
    </li>
  <% end %>
  </ul>
</div>