<div class="main user-show">
  <div class="container">
    <div class="user">
      <h2><%= @user.name %></h2>
      <p><%= @user.email %></p>
      <% if @match_user %>
        <%= button_to("編集", "/users/#{@user.id}/edit", method: :get) %>
      <% end %>
    </div>
  </div>
</div>